# I. Importing. Creating DF

1. (2б) Імпортувати бібліотеку pandas та numpy.

In [2]:
import pandas as pd
import numpy as np

2. (3б) Створити тестовий датафрейм зі списку, що містить записи пацієнтів про їхні прізвища, імена, дату народження, масу тіла та наявність медичного страхування. Одне зі значень зробить пустим. Ознайомтесь з типом кожної колонки.

In [8]:
import pandas as pd

patient_records = [
    ["Іваненко", "Олександр", pd.to_datetime("1980-05-15"), 70, True],
    ["Петренко", "Марія", pd.to_datetime("1992-09-23"), 55, False],
    ["Коваленко", "Андрій", pd.to_datetime("1985-12-10"), 80, True],
    ["Сидоренко", "Олена", pd.to_datetime("1976-07-08"), None, True], # no body weight
    ["Мельник", "Віктор", pd.to_datetime("1998-03-27"), 75, False]
]

patients_df = pd.DataFrame(patient_records, columns=["Last Name", "First Name", "Date of Birth", "Body Weight", "Health Insurance"])
patients_df

   Last Name First Name Date of Birth  Body Weight  Health Insurance
0   Іваненко  Олександр    1980-05-15         70.0              True
1   Петренко      Марія    1992-09-23         55.0             False
2  Коваленко     Андрій    1985-12-10         80.0              True
3  Сидоренко      Олена    1976-07-08          NaN              True
4    Мельник     Віктор    1998-03-27         75.0             False

In [9]:
patients_df.dtypes

Last Name                   object
First Name                  object
Date of Birth       datetime64[ns]
Body Weight                float64
Health Insurance              bool
dtype: object

# II. Reading from file

3. (7б) Завантажити файл missile_attacks_daily.csv з [Kaggle](https://www.kaggle.com/datasets/piterfm/massive-missile-attacks-on-ukraine?select=missile_attacks_daily.csv). Ознайомитись з описом датасету. Додати файл до папки поточної сесії colab notebook на панелі ліворуч або на гугл диск (локально до проєкту, якщо працюєте у пайчармі). Зчитати датафрейм з файлу та вивести датафрейм на екран. Зверніть увагу на те, щоб всі колонки відповідали наведеним у описі типам даних.

In [10]:
missile_attacks = pd.read_csv("./data/missile_attacks_daily.csv")
missile_attacks

,time_start,time_end,model,launch_place,target,destroyed_details,carrier,launched,destroyed,source
0,2024-03-31,2024-03-31 08:00,X-59,Zaporizhzhia oblast,Ukraine,NaN,NaN,1.0,0,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
1,2024-03-31,2024-03-31 08:00,X-101/X-555,Saratov oblast,Ukraine,NaN,Tu-95MS,14.0,9,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
2,2024-03-31,2024-03-31 08:00,Shahed-136/131,Primorsko-Akhtarsk,south,{'Odesa oblast': 8},NaN,11.0,9,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
3,2024-03-31,2024-03-31 08:00,Iskander-M,Crimea,Ukraine,NaN,NaN,1.0,0,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
4,2024-03-30 14:50,2024-03-30 14:50,X-59,NaN,"Dnipropetrovsk oblast, Dnipro Raion",NaN,NaN,1.0,1,pvkshid/posts/pfbid0VPtjkH7D9VsdY7jYA4eNJLFMi7...
...,...,...,...,...,...,...,...,...,...,...
889,2022-10-01 12:00,2022-10-01 12:00,Orlan-10,NaN,Ukraine,NaN,NaN,1.0,1,watch/?v=375517448001233
890,2022-09-30,2022-09-30,Orlan-10,NaN,Ukraine,NaN,NaN,3.0,3,kpszsu/posts/pfbid0nELeXY4BpHrezv54Lk3gWPZJmcC...
891,2022-09-29 23:00,2022-09-29 23:59,Shahed-136/131,NaN,Odesa oblast and Mykolaiv oblast,NaN,NaN,7.0,5,kpszsu/posts/pfbid021aK2TqryAuB8gGrDYMTv3R8Xiu...
892,2022-09-28,2022-09-28,X-59,NaN,Dnipropetrovsk oblast and Zaporizhzhia oblast,NaN,Su-35,5.0,4,kpszsu/posts/pfbid02sjn5m7kosAfsm5bSUzpPwbLuH3...
893,2022-09-28,2022-09-28,Reconnaissance UAV,NaN,Ukraine,NaN,NaN,3.0,3,kpszsu/posts/pfbid0grmBx6A5LbQ7PVTkSx7jTDgg4iU...

In [11]:
missile_attacks.dtypes

time_start            object
time_end              object
model                 object
launch_place          object
target                object
destroyed_details     object
carrier               object
launched             float64
destroyed              int64
source                object
dtype: object

# III. Data understanding

4. (2б) Виведіть на екран перші 10 рядків зчитаного датафрейму.

In [12]:
missile_attacks.head(10)

,time_start,time_end,model,launch_place,target,destroyed_details,carrier,launched,destroyed,source
0,2024-03-31,2024-03-31 08:00,X-59,Zaporizhzhia oblast,Ukraine,NaN,NaN,1.0,0,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
1,2024-03-31,2024-03-31 08:00,X-101/X-555,Saratov oblast,Ukraine,NaN,Tu-95MS,14.0,9,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
2,2024-03-31,2024-03-31 08:00,Shahed-136/131,Primorsko-Akhtarsk,south,{'Odesa oblast': 8},NaN,11.0,9,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
3,2024-03-31,2024-03-31 08:00,Iskander-M,Crimea,Ukraine,NaN,NaN,1.0,0,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
4,2024-03-30 14:50,2024-03-30 14:50,X-59,NaN,"Dnipropetrovsk oblast, Dnipro Raion",NaN,NaN,1.0,1,pvkshid/posts/pfbid0VPtjkH7D9VsdY7jYA4eNJLFMi7...
5,2024-03-30,2024-03-30 08:00,Shahed-136/131,"Chauda, Crimea",Ukraine,"{'Kherson oblast': 1, 'Odesa oblast': 2, 'Dnip...",NaN,12.0,9,kpszsu/posts/pfbid0e3pdgWEJ6TK2Y9Q4Gjyw8LaK4zD...
6,2024-03-30,2024-03-30 08:00,C-300 and C-400,NaN,Donetsk oblast,NaN,NaN,4.0,0,kpszsu/posts/pfbid0e3pdgWEJ6TK2Y9Q4Gjyw8LaK4zD...
7,2024-03-30,2024-03-30,X-59,NaN,south,NaN,NaN,1.0,1,PvKPivden/posts/pfbid0oQAFZRXJ49HsDYPD1njUhkKD...
8,2024-03-30,2024-03-30,Supercam,NaN,south,NaN,NaN,1.0,1,PvKPivden/posts/pfbid0oQAFZRXJ49HsDYPD1njUhkKD...
9,2024-03-30,2024-03-30,Lancet,NaN,south,NaN,NaN,1.0,1,PvKPivden/posts/pfbid0oQAFZRXJ49HsDYPD1njUhkKD...

5. (2б) Отримайте інформацію про форму датафрейму.

In [13]:
missile_attacks.shape

(894, 10)

6. (3б) Отримайте дані про кожну колонку з її назвою, типом даних та кількістю непустих значень.

In [14]:
missile_attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time_start         894 non-null    object
 1   time_end           894 non-null    object
 2   model              894 non-null    object
 3   launch_place       485 non-null    object
 4   target             866 non-null    object
 5   destroyed_details  72 non-null     object
 6   carrier            173 non-null    object
 7   launched           891 non-null    float64
 8   destroyed          894 non-null    int64
 9   source             894 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 70.0+ KB

7. (3б) Отримайте статистику для колонок числового типу.

In [15]:
missile_attacks.describe()

         launched   destroyed
count  891.000000  894.000000
mean     9.001122    6.984340
std     12.706939   11.019873
min      1.000000    0.000000
25%      1.000000    1.000000
50%      4.000000    2.000000
75%     12.000000   10.000000
max     96.000000   87.000000

8. (2б) Отримати кількість унікальних значень у кожній колонці.

In [16]:
missile_attacks.nunique()

time_start           450
time_end             498
model                 44
launch_place          86
target                80
destroyed_details     72
carrier               52
launched              58
destroyed             54
source               460
dtype: int64

9. (3б) Вивести на екран значення та кількість цих значень у колонці, яка має найменше унікальних значень (див. попереднє завдання).

In [17]:
column_name = missile_attacks.nunique().idxmin()
missile_attacks[column_name].value_counts()

model
Shahed-136/131                                 291
X-59                                           105
X-101/X-555                                     49
Lancet                                          45
Orlan-10                                        44
C-300                                           44
Kalibr                                          42
Merlin-VR                                       29
Iskander-M                                      25
Unknown UAV                                     25
X-22                                            24
Supercam                                        23
Reconnaissance UAV                              21
ZALA                                            21
X-31P                                           16
X-47 Kinzhal                                    16
Iskander-K                                      11
C-300 and C-400                                  7
P-800 Oniks                                      7
X-101/X-555 and Kalibr                           5
Unknown Missile                                  5
X-31                                             5
KAB                                              4
Mohajer-6                                        3
Orion                                            3
Iskander-M/KN-23                                 2
C-300 and C-400 and Iskander-M                   2
X-22 and X-32                                    2
C-400 and Iskander-M                             2
Orlan-10 and ZALA and Supercam                   2
Shahed-136/131 and Lancet                        1
X-59MK2                                          1
3M22 Zircon                                      1
Granat-4                                         1
Iskander-M and Iskander-K                        1
Orlan-10 and Supercam                            1
Orlan-10 and ZALA                                1
Orlan-30                                         1
Orlan-10 and Orlan-30 and ZALA and Supercam      1
X-59 and X-35                                    1
Iskander-M/KN-23/X-47 Kinzhal                    1
X-35                                             1
C-400                                            1
X-101/X-555 and X-22 and Kalibr                  1
Name: count, dtype: int64

10. (15б) На основі отриманої інформації про датасет вище, опишіть по пунктах, що б ви виправили або на що б звернули увагу на кроці очищення даних і чому?

1. Стандартизація значень: деякі стовбці можуть бути переформатовані для підвищення ефективності (наприклад, перетворення чисел ракет з плаваючої точки на цілі числа). Зміна формату даних на стандартний може допомогти знизити розмір пам'яті, що використовується датафреймом, та полегшити аналіз даних. Також у деяких стовпцях датафрейму присутні дані у неуніверсальному форматі (наприклад, дати у вигляді тексту).

2. Очищення даних: корисно буде видалити дублікати рядків та вилучути або надати відсутні дані в деяких стовбцях. Наприклад, можна замінити відсутні дані про ракети на нулі або видалити стовпці з великою кількістю пропусків.

# IV. Data Cleaning

11. (3б) Перетворити колонку launched у цілочислену (Int64). Перевірити, чи все пройшло, як очікувалось.

In [23]:
missile_attacks['launched'] = missile_attacks['launched'].astype('Int64')
missile_attacks

,time_start,time_end,model,launch_place,target,destroyed_details,carrier,launched,destroyed,source
0,2024-03-31,2024-03-31 08:00,X-59,Zaporizhzhia oblast,Ukraine,NaN,NaN,1,0,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
1,2024-03-31,2024-03-31 08:00,X-101/X-555,Saratov oblast,Ukraine,NaN,Tu-95MS,14,9,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
2,2024-03-31,2024-03-31 08:00,Shahed-136/131,Primorsko-Akhtarsk,south,{'Odesa oblast': 8},NaN,11,9,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
3,2024-03-31,2024-03-31 08:00,Iskander-M,Crimea,Ukraine,NaN,NaN,1,0,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
4,2024-03-30 14:50,2024-03-30 14:50,X-59,NaN,"Dnipropetrovsk oblast, Dnipro Raion",NaN,NaN,1,1,pvkshid/posts/pfbid0VPtjkH7D9VsdY7jYA4eNJLFMi7...
...,...,...,...,...,...,...,...,...,...,...
889,2022-10-01 12:00,2022-10-01 12:00,Orlan-10,NaN,Ukraine,NaN,NaN,1,1,watch/?v=375517448001233
890,2022-09-30,2022-09-30,Orlan-10,NaN,Ukraine,NaN,NaN,3,3,kpszsu/posts/pfbid0nELeXY4BpHrezv54Lk3gWPZJmcC...
891,2022-09-29 23:00,2022-09-29 23:59,Shahed-136/131,NaN,Odesa oblast and Mykolaiv oblast,NaN,NaN,7,5,kpszsu/posts/pfbid021aK2TqryAuB8gGrDYMTv3R8Xiu...
892,2022-09-28,2022-09-28,X-59,NaN,Dnipropetrovsk oblast and Zaporizhzhia oblast,NaN,Su-35,5,4,kpszsu/posts/pfbid02sjn5m7kosAfsm5bSUzpPwbLuH3...
893,2022-09-28,2022-09-28,Reconnaissance UAV,NaN,Ukraine,NaN,NaN,3,3,kpszsu/posts/pfbid0grmBx6A5LbQ7PVTkSx7jTDgg4iU...

In [25]:
missile_attacks['launched'].dtype

Int64Dtype()

12. (3б) Видалити колонки, де кількість непустих значень становить менше 30% від загальної кількості записів. Можна вручну порахувати і тут тільки видалити. За автоматизацію розрахунку відстоків - додаткові 3 бали.

In [26]:
missile_attacks.dropna(axis=1, thresh=0.3 * missile_attacks.shape[0], inplace=True)
missile_attacks

,time_start,time_end,model,launch_place,target,launched,destroyed,source
0,2024-03-31,2024-03-31 08:00,X-59,Zaporizhzhia oblast,Ukraine,1,0,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
1,2024-03-31,2024-03-31 08:00,X-101/X-555,Saratov oblast,Ukraine,14,9,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
2,2024-03-31,2024-03-31 08:00,Shahed-136/131,Primorsko-Akhtarsk,south,11,9,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
3,2024-03-31,2024-03-31 08:00,Iskander-M,Crimea,Ukraine,1,0,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
4,2024-03-30 14:50,2024-03-30 14:50,X-59,NaN,"Dnipropetrovsk oblast, Dnipro Raion",1,1,pvkshid/posts/pfbid0VPtjkH7D9VsdY7jYA4eNJLFMi7...
...,...,...,...,...,...,...,...,...
889,2022-10-01 12:00,2022-10-01 12:00,Orlan-10,NaN,Ukraine,1,1,watch/?v=375517448001233
890,2022-09-30,2022-09-30,Orlan-10,NaN,Ukraine,3,3,kpszsu/posts/pfbid0nELeXY4BpHrezv54Lk3gWPZJmcC...
891,2022-09-29 23:00,2022-09-29 23:59,Shahed-136/131,NaN,Odesa oblast and Mykolaiv oblast,7,5,kpszsu/posts/pfbid021aK2TqryAuB8gGrDYMTv3R8Xiu...
892,2022-09-28,2022-09-28,X-59,NaN,Dnipropetrovsk oblast and Zaporizhzhia oblast,5,4,kpszsu/posts/pfbid02sjn5m7kosAfsm5bSUzpPwbLuH3...
893,2022-09-28,2022-09-28,Reconnaissance UAV,NaN,Ukraine,3,3,kpszsu/posts/pfbid0grmBx6A5LbQ7PVTkSx7jTDgg4iU...

13. (4б) Очистити датафрейм від дублікатів (дублюючихся рядків) та записів, де атака продовжувалась відʼємну або нульову кількість часу (що фізично неможливо). Не забудьте оновити індекс. Скільки рядків було видалено? Як ви це перевірили у коді?

In [27]:
rows_before = missile_attacks.shape[0]

missile_attacks.drop_duplicates(inplace=True)

missile_attacks['time_start'] = pd.to_datetime(missile_attacks['time_start'], format="mixed")
missile_attacks['time_end'] = pd.to_datetime(missile_attacks['time_end'], format="mixed")

missile_attacks = missile_attacks[missile_attacks['time_end'] - missile_attacks['time_start'] > pd.Timedelta(0)]
missile_attacks.reset_index(drop=True, inplace=True)

rows_after = missile_attacks.shape[0]
print(f"Rows deleted: {rows_before - rows_after}")

Rows deleted: 306

In [28]:
missile_attacks

,time_start,time_end,model,launch_place,target,launched,destroyed,source
0,2024-03-31 00:00:00,2024-03-31 08:00:00,X-59,Zaporizhzhia oblast,Ukraine,1,0,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
1,2024-03-31 00:00:00,2024-03-31 08:00:00,X-101/X-555,Saratov oblast,Ukraine,14,9,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
2,2024-03-31 00:00:00,2024-03-31 08:00:00,Shahed-136/131,Primorsko-Akhtarsk,south,11,9,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
3,2024-03-31 00:00:00,2024-03-31 08:00:00,Iskander-M,Crimea,Ukraine,1,0,kpszsu/posts/pfbid02FF4w7ocx69Vtf7VZtjQ8BnyWET...
4,2024-03-30 00:00:00,2024-03-30 08:00:00,Shahed-136/131,"Chauda, Crimea",Ukraine,12,9,kpszsu/posts/pfbid0e3pdgWEJ6TK2Y9Q4Gjyw8LaK4zD...
...,...,...,...,...,...,...,...,...
583,2022-10-06 09:00:00,2022-10-06 11:30:00,Mohajer-6,NaN,Mykolaiv oblast,1,1,kpszsu/posts/pfbid02YPkepucHoDQbmGfZURk8ScqNyM...
584,2022-10-06 00:00:00,2022-10-06 02:00:00,Shahed-136/131,NaN,south,9,9,kpszsu/posts/pfbid0cUxYK69qorY8Td3GYrEifznzmJd...
585,2022-10-05 00:00:00,2022-10-05 02:00:00,Shahed-136/131,NaN,south,6,6,kpszsu/posts/pfbid0ijKPtn19ybY71UFsnyhNA7YCx9i...
586,2022-10-02 00:00:00,2022-10-02 02:00:00,Shahed-136/131,NaN,Mykolaiv oblast,7,5,kpszsu/posts/pfbid021aK2TqryAuB8gGrDYMTv3R8Xiu...
587,2022-09-29 23:00:00,2022-09-29 23:59:00,Shahed-136/131,NaN,Odesa oblast and Mykolaiv oblast,7,5,kpszsu/posts/pfbid021aK2TqryAuB8gGrDYMTv3R8Xiu...

14. (3б) Виведіть на екран всі рядки, де є хоч одне пропущене значення.

In [29]:
missile_attacks[missile_attacks.isnull().any(axis=1)]

,time_start,time_end,model,launch_place,target,launched,destroyed,source
5,2024-03-30 00:00:00,2024-03-30 08:00:00,C-300 and C-400,NaN,Donetsk oblast,4,0,kpszsu/posts/pfbid0e3pdgWEJ6TK2Y9Q4Gjyw8LaK4zD...
15,2024-03-28 00:00:00,2024-03-28 08:00:00,C-300,NaN,Donetsk oblast,1,0,kpszsu/posts/pfbid0wyB1Xb87sF9FraAFJtppembvHkt...
18,2024-03-26 00:00:00,2024-03-26 08:00:00,C-300,NaN,Donetsk oblast,2,2,kpszsu/posts/pfbid0k6Guvgya2qdhfb6oQbHrJ4nrk3p...
23,2024-03-23 00:00:00,2024-03-23 08:00:00,C-300,NaN,Donetsk oblast,4,0,kpszsu/posts/pfbid0Jo2zmM4BzAZfS91x3Eb5Aa6L7AF...
32,2024-03-21 03:00:00,2024-03-21 07:00:00,Iskander-M/KN-23/X-47 Kinzhal,NaN,Kyiv oblast,2,2,kpszsu/posts/pfbid024ZjSa6LyBpqHEUKgGXtEMfAnpt...
...,...,...,...,...,...,...,...,...
583,2022-10-06 09:00:00,2022-10-06 11:30:00,Mohajer-6,NaN,Mykolaiv oblast,1,1,kpszsu/posts/pfbid02YPkepucHoDQbmGfZURk8ScqNyM...
584,2022-10-06 00:00:00,2022-10-06 02:00:00,Shahed-136/131,NaN,south,9,9,kpszsu/posts/pfbid0cUxYK69qorY8Td3GYrEifznzmJd...
585,2022-10-05 00:00:00,2022-10-05 02:00:00,Shahed-136/131,NaN,south,6,6,kpszsu/posts/pfbid0ijKPtn19ybY71UFsnyhNA7YCx9i...
586,2022-10-02 00:00:00,2022-10-02 02:00:00,Shahed-136/131,NaN,Mykolaiv oblast,7,5,kpszsu/posts/pfbid021aK2TqryAuB8gGrDYMTv3R8Xiu...
587,2022-09-29 23:00:00,2022-09-29 23:59:00,Shahed-136/131,NaN,Odesa oblast and Mykolaiv oblast,7,5,kpszsu/posts/pfbid021aK2TqryAuB8gGrDYMTv3R8Xiu...

# V. Data Wrangling

15. (9б) Зʼясуйте, який середній відсоток збиття ракет за весь наведений період.

In [31]:
destroyed_percentage = missile_attacks["destroyed"].sum() / missile_attacks["launched"].sum()
destroyed_percentage * 100

77.21313890116365

16. (11б) Зʼясуйте 10 найпопулярніших моделей запущених пристроїв за кількістю випущених одиниць за наведений період. Запишіть результат у файл типу json. Скопіюйте зміст файлу та вставте нижче.

In [32]:
missile_attacks.groupby('model')['launched'].sum().sort_values(ascending=False).head(10).to_json("./data/top_models.json")

17. (10б) Зʼясуйте, у який день було найбільше влучань за весь період (незбитих пристроїв). Виведіть час початку атаки та кількість влучань.

In [46]:
missile_attacks.loc[:, "hits"] = (missile_attacks["launched"] - missile_attacks["destroyed"])
max_hit = missile_attacks["hits"].max()
day = missile_attacks[missile_attacks["hits"] == max_hit].iloc[0]
print(f"Start of the attack: {day['time_start']}, no of hits: {max_hit}")

Start of the attack: 2022-10-10 06:00:00, no of hits: 41

18. (15б) Знайдіть найбільш тривалу та найбільш коротку атаки за кожен представлений місяць. Результат отримайте у такому вигляді:

![текст посилання](https://drive.google.com/uc?id=1gISSxR2mXjTEOgoAk_vQnXJeqoL-eA5b)


Запишіть його у файл типу сsv. Після цього виведіть на екран.

In [59]:
missile_attacks.loc[:, "duration"] = missile_attacks["time_end"] - missile_attacks["time_start"]

missile_attacks.loc[:, "year"] = missile_attacks["time_start"].dt.year
missile_attacks.loc[:, "month"] = missile_attacks["time_start"].dt.month

longest_attacks = missile_attacks.groupby(["year", "month"])["attack_duration"].max().reset_index(name="attack_duration").sort_values(by=["year", "month"], ascending=[False, True])
longest_attacks.to_csv("./data/longest_attacks.csv", index=False)
pd.read_csv("./data/longest_attacks.csv")

    year  month  attack_duration
0   2024      1  0 days 12:00:00
1   2024      2  0 days 08:00:00
2   2024      3  0 days 08:00:00
3   2023      1  0 days 08:00:00
4   2023      2  0 days 14:10:00
5   2023      3  0 days 04:30:00
6   2023      4  1 days 10:30:00
7   2023      5  0 days 08:30:00
8   2023      6  0 days 08:00:00
9   2023      7  0 days 08:00:00
10  2023      8  0 days 08:00:00
11  2023      9  0 days 08:00:00
12  2023     10  0 days 09:00:00
13  2023     11  0 days 09:00:00
14  2023     12  0 days 13:00:00
15  2022      9  0 days 00:59:00
16  2022     10  0 days 10:00:00
17  2022     11  0 days 03:00:00
18  2022     12  0 days 09:15:00

In [58]:
missile_attacks.loc[:, "duration"] = missile_attacks["time_end"] - missile_attacks["time_start"]

missile_attacks.loc[:, "year"] = missile_attacks["time_start"].dt.year
missile_attacks.loc[:, "month"] = missile_attacks["time_start"].dt.month

shortest_attacks = missile_attacks.groupby(["year", "month"])["attack_duration"].min().reset_index(name="attack_duration").sort_values(by=["year", "month"], ascending=[False, True])
shortest_attacks.to_csv("./data/shortest_attacks.csv", index=False)
pd.read_csv("./data/shortest_attacks.csv")

    year  month  attack_duration
0   2024      1  0 days 01:10:00
1   2024      2  0 days 08:00:00
2   2024      3  0 days 04:00:00
3   2023      1  0 days 03:00:00
4   2023      2  0 days 02:05:00
5   2023      3  0 days 02:10:00
6   2023      4  0 days 02:00:00
7   2023      5  0 days 00:30:00
8   2023      6  0 days 02:30:00
9   2023      7  0 days 01:30:00
10  2023      8  0 days 00:30:00
11  2023      9  0 days 05:30:00
12  2023     10  0 days 01:00:00
13  2023     11  0 days 02:00:00
14  2023     12  0 days 01:00:00
15  2022      9  0 days 00:59:00
16  2022     10  0 days 00:30:00
17  2022     11  0 days 01:00:00
18  2022     12  0 days 01:00:00